Repository llvm4j/llvm4j, pull requests merged in 2020-03, with the labels that each got.

#1 [unittest] Set up Unit tests for OSX
  .github/workflows/unit-osx.yml
  .github/workflows/unit-ubuntu.yml
  src/test/kotlin/dev/supergrecko/ktools/llvm/MainTest.kt
  src/test/kotlin/dev/supergrecko/ktools/llvm/basic/JNITest.kt
Labels: platform:osx, scope:tests

#3 [repo] Compose basic readme and Apache 2.0 License
  LICENSE
  README.md
Labels: scope:documentation

#4 [api] Create LLVMIntTypeInContext bindings
  src/main/kotlin/dev/supergrecko/kllvm/core/Context.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/IntegerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/utils/RunAll.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/ContextTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/IntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/utils/ConversionsTest.kt
Labels: scope:llvm-bindings

#5 [ci] Make it easier to check test results for Actions
  .github/workflows/unit-osx.yml
  .github/workflows/unit-ubuntu.yml
Labels: platform:linux, platform:osx, scope:tests

#6 [ci] Move workflows to Gradle
  .github/workflows/unit-osx.yml
  .github/workflows/unit-ubuntu.yml
  build.gradle
  gradlew
  gradlew.bat
  pom.xml
  settings.gradle
  src/main/kotlin/dev/supergrecko/kllvm/Main.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/Context.kt
Labels: platform:linux, platform:osx, scope:tests, type:breaking-change

#7 [api] Implement TypeRef to LLVM Floating Point types inside and outside of Context
  src/main/kotlin/dev/supergrecko/kllvm/core/Context.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/FloatingPointTypes.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/IntegerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/IntegerTypes.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/ContextTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/FloatingPointTypesTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/IntegerTypesTest.kt
Labels: scope:llvm-bindings, scope:tests

#26 [ci] Use Bytedeco binaries for testing over system binaries
  .github/workflows/unit-tests.yml
  .github/workflows/unit-ubuntu.yml
  src/test/kotlin/dev/supergrecko/kllvm/jni/JNIFactorialTest.kt
Labels: platform:linux, platform:osx, platform:windows, scope:tests

#27 [ci] Run on two different LLVM versions
  .github/workflows/unit-tests.yml
  build.gradle
Labels: platform:linux, platform:osx, platform:windows, scope:llvm-bindings, scope:tests

#28 [gradle] Add dokka script
  build.gradle
Labels: scope:documentation

#29 [api] Split LLVMType into different type factories
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/FloatingPointTypes.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/IntegerTypes.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMFloatType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMIntegerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/TypeFactory.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/LLVMContextTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/IntegerTypesTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMFloatTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMIntegerTypeTest.kt
Labels: scope:llvm-bindings, scope:tests

#30 [api] Create bindings for LLVMFunctionType creation
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Disposable.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/TypeFactory.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Validateable.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMFloatType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMIntegerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/TypeFactory.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMTypeTest.kt
Labels: scope:llvm-bindings

#31 [api] Implement LLVM Core APIs for LLVM Function Types
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionType.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionTypeTest.kt
Labels: scope:llvm-bindings, scope:tests

#32 [api-refactor] Move type creation into LLVMType
  src/main/kotlin/dev/supergrecko/kllvm/contracts/TypeFactory.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMFloatType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMIntegerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMType.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/LLVMContextTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMIntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMTypeTest.kt
Labels: scope:llvm-bindings, scope:tests, type:breaking-change

#33 [api] Move LLVMTypeKind into its own file
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMTypeKind.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMFloatTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMIntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMTypeTest.kt
Labels: scope:llvm-bindings

#34 [api] Create bindings for LLVMStructType
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMStructureType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMType.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMStructureTypeTest.kt
Labels: scope:llvm-bindings, scope:tests

#35 [api] Make bindings for LLVM's "Other" types
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMFloatType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMTypeKind.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMFloatTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMStructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMTypeTest.kt
Labels: scope:llvm-bindings, scope:tests

#36 [api] Create LLVMPointerType, LLVMVectorType and LLVMArrayType
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMArrayType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMPointerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMStructureType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMVectorType.kt
  src/main/kotlin/dev/supergrecko/kllvm/utils/TypeIterator.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMPointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMVectorTypeTest.kt
Labels: scope:llvm-bindings

#37 [api] Add asT and intoT for LLVMType
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMArrayType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMIntegerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMPointerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/type/LLVMVectorType.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMPointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/type/LLVMTypeTest.kt
Labels: scope:llvm-bindings

#38 [refactor] Move LLVMType into /core and fix naming
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMArrayType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMFunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMIntegerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMPointerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMStructureType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMTypeKind.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMVectorType.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMIntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMPointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMStructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMVectorTypeTest.kt
Labels: scope:llvm-bindings

#39 [api] Create Enumeration bindings
  .github/workflows/unit-tests.yml
  src/main/kotlin/dev/supergrecko/kllvm/contracts/OrderedEnum.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMAtomicOrdering.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMAtomicRMWBinaryOperation.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMAttributeIndex.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMCallConv.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMDLLStorageClass.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMDiagnosticSeverity.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMInlineAsmDialect.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMIntPredicate.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMLandingPadClauseType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMLinkage.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMModuleFlagBehavior.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMOpcode.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMRealPredicate.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMThreadLocalMode.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMTypeKind.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMUnnamedAddr.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMValueKind.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMVisibility.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMTypeKind.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMIntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMPointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMStructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMVectorTypeTest.kt
Labels: scope:llvm-bindings

#40 [refactor] Rename make* functions to create*
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMType.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMIntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMStructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMVectorTypeTest.kt
Labels: scope:llvm-bindings, type:breaking-change

#41 [refactor] Move types into single file
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Unreachable.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Validatable.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Validator.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMAttributeIndex.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMCallConv.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMCallConvention.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMDLLStorageClass.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMLinkage.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMUnnamedAddr.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMValueKind.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMArrayType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMFunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMIntegerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMPointerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMStructureType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LLVMVectorType.kt
  src/main/kotlin/dev/supergrecko/kllvm/utils/TypeIterator.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMIntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMPointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMStructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMVectorTypeTest.kt
Labels: scope:llvm-bindings, scope:tests, type:breaking-change, type:refactor

#42 [api] Implement Core::Values::Constants functions
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Validator.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LLVMValueKind.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/message/Message.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/values/LLVMValueTest.kt
Labels: scope:llvm-bindings, scope:tests

#43 [refactor] Add TypeFactory, remove LLVMType.create
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Builder.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Factory.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Validator.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/message/Message.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typebuilders/ArrayBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typebuilders/StructBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typebuilders/VectorBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/factories/TypeFactory.kt
  src/main/kotlin/dev/supergrecko/kllvm/utils/Validator.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMIntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMPointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMStructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMVectorTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/values/LLVMValueTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/utils/ConversionsTest.kt
Labels: scope:llvm-bindings, type:breaking-change

#44 [cleanup] Clean up codestyle and add loads of KDoc
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Builder.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Disposable.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Factory.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/OrderedEnum.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Unreachable.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Validatable.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/message/Message.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typebuilders/ArrayBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typebuilders/StructBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typebuilders/VectorBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/utils/TypeIterator.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMIntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMPointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMStructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMVectorTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/values/LLVMValueTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/jni/JNIFactorialTest.kt
Labels: type:refactor

#45 [cleanup] Clean up unused imports and inconsistent naming
  src/main/kotlin/dev/supergrecko/kllvm/annotation/ExpectsType.kt
  src/main/kotlin/dev/supergrecko/kllvm/annotation/ExpectsValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/annotation/RejectsType.kt
  src/main/kotlin/dev/supergrecko/kllvm/annotation/RejectsValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/LLVMValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typebuilders/StructBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/factories/ConstantFactory.kt
  src/main/kotlin/dev/supergrecko/kllvm/factories/TypeFactory.kt
  src/main/kotlin/dev/supergrecko/kllvm/utils/Radix.kt
  src/main/kotlin/dev/supergrecko/kllvm/utils/Validator.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMIntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMPointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMStructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMVectorTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/values/LLVMValueTest.kt
Labels: type:refactor

#46 [typedef] Create all typedef stubs and move them into separate namespace
  src/main/kotlin/dev/supergrecko/kllvm/core/typebuilders/ArrayBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typebuilders/StructBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typebuilders/VectorBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMAttribute.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMBasicBlock.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMBinary.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMComdat.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMContext.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMDiagnosticInfo.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMJitEventListener.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMMemoryBuffer.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMMetadata.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMModule.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMModuleProvider.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMNamedMetadataNode.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMPassManager.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMPassRegistry.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMUse.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/factories/ConstantFactory.kt
  src/main/kotlin/dev/supergrecko/kllvm/factories/TypeFactory.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/LLVMContextTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMIntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/values/LLVMValueTest.kt
Labels: scope:llvm-bindings, type:breaking-change

#47 [refactor] Remove Expects* and Rejects* annotations
  src/main/kotlin/dev/supergrecko/kllvm/annotation/ExpectsType.kt
  src/main/kotlin/dev/supergrecko/kllvm/annotation/ExpectsValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/annotation/RejectsType.kt
  src/main/kotlin/dev/supergrecko/kllvm/annotation/RejectsValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/dsl/ArrayBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/dsl/StructBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/dsl/VectorBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/factories/ConstantFactory.kt
  src/main/kotlin/dev/supergrecko/kllvm/factories/TypeFactory.kt
Labels: scope:llvm-bindings

#48 [api] Make base class for LLVMValue
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/ArrayValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/BasicValueUse.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/CallSiteValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/FloatValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/FunctionValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/GenericValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/GlobalValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/InstructionValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/IntValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/MetadataValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/PhiValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/PointerValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/StructValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/VectorValue.kt
Labels: scope:llvm-bindings

#49 [api] Refactor Types into multiple subtypes
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/LLVMValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/ArrayType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/FloatType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/FunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/IntType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/PointerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/StructType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/VectorType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/VoidType.kt
  src/main/kotlin/dev/supergrecko/kllvm/dsl/ArrayBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/dsl/StructBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/dsl/VectorBuilder.kt
  src/main/kotlin/dev/supergrecko/kllvm/factories/ConstantFactory.kt
  src/main/kotlin/dev/supergrecko/kllvm/factories/TypeFactory.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMFunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMIntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMPointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMStructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/LLVMVectorTypeTest.kt
Labels: scope:llvm-bindings, scope:tests, type:breaking-change

#53 [api] Implement Core::Values::Constants::ScalarConstants
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Type.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/FloatType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/IntType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/FloatValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/IntValue.kt
Labels: scope:llvm-bindings

#54 [api] Implement String methods for composite constant values
  src/main/kotlin/dev/supergrecko/kllvm/core/types/ArrayType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/ArrayValue.kt
Labels: scope:llvm-bindings

#56 [api] Implement more Module APIs and write tests
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Module.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Value.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/FunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/ArrayValue.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/modules/ModuleTest.kt
Labels: scope:llvm-bindings

#57 [api] Implement remaining parts of CompositeConstants
  src/main/kotlin/dev/supergrecko/kllvm/annotations/Shared.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/ArrayType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/FunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/PointerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/StructType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/VectorType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/ArrayValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/StructValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/VectorValue.kt
Labels: scope:llvm-bindings

#58 [api] Replace unused factories and replace get/setters with class properties
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Builder.kt
  src/main/kotlin/dev/supergrecko/kllvm/contracts/Factory.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Type.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Value.kt
  src/main/kotlin/dev/supergrecko/kllvm/factories/ConstantFactory.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/values/ValueTest.kt
Labels: scope:llvm-bindings, type:refactor

#59 Api/builders
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Builder.kt
  src/test/kotlin/dev/supergrecko/kllvm/builders/BuilderTest.kt
Labels: scope:llvm-bindings, scope:tests

#60 [docs] Add code of conduct and contributing guidelines
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/contributing/code-style.md
  docs/contributing/setup.md
Labels: scope:documentation

#61 [api] Add KDoc and see tags to members missing it
  src/main/kotlin/dev/supergrecko/kllvm/annotations/Shared.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/AtomicOrdering.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/AtomicRMWBinaryOperation.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/AttributeIndex.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/CallConvention.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/DLLStorageClass.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/DiagnosticSeverity.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/InlineAsmDialect.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/IntPredicate.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/LandingPadClauseType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/Linkage.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/ModuleFlagBehavior.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/Opcode.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/RealPredicate.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/ThreadLocalMode.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/TypeKind.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/UnnamedAddr.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/ValueKind.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/Visibility.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/message/Message.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Context.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Type.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Value.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/ArrayValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/StructValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/VectorValue.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/ContextTest.kt
Labels: scope:llvm-bindings, type:refactor

#62 Expanding the API further
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Builder.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Module.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/IntValue.kt
  src/test/kotlin/dev/supergrecko/kllvm/builders/BuilderTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/modules/ModuleTest.kt
Labels: scope:llvm-bindings
