Repository llvm4j/llvm4j, pull requests merged in 2020-04, with the labels that each got.

#63 [refactor] Use secondary constructors and companions for creation of objects
  src/main/kotlin/dev/supergrecko/kllvm/core/message/Message.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Attribute.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/BasicBlock.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Binary.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Builder.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Comdat.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Context.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/DiagnosticInfo.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/JitEventListener.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/MemoryBuffer.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Metadata.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Module.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/ModuleProvider.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/NamedMetadataNode.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/PassManager.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/PassRegistry.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Type.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Use.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Value.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/ArrayType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/FloatType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/FunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/IntType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LabelType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/MetadataType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/PointerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/StructType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/TokenType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/VectorType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/VoidType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/X86MMXType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/ArrayValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/BasicValueUse.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/CallSiteValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/FloatValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/FunctionValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/GenericValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/GlobalValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/InstructionValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/IntValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/MetadataValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/PhiValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/PointerValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/StructValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/VectorValue.kt
  src/test/kotlin/dev/supergrecko/kllvm/builders/BuilderTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/ContextTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/modules/ModuleTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/ArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/FunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/IntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/PointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/StructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/TypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/VectorTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/values/ValueTest.kt
Labels: scope:llvm-bindings, type:breaking-change, type:refactor

#66 [api] Implement Pass Registry namespace
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/PassRegistry.kt
  src/test/kotlin/dev/supergrecko/kllvm/passregistry/PassRegistryTest.kt
Labels: scope:llvm-bindings

#65 Refactor/remove cast constructors
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Builder.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Module.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Type.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Value.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/ArrayType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/FloatType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/FunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/IntType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/LabelType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/MetadataType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/PointerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/StructType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/TokenType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/VectorType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/VoidType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/types/X86MMXType.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/ArrayValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/BasicValueUse.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/CallSiteValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/FloatValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/FunctionValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/GenericValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/GlobalValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/InstructionValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/IntValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/MetadataValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/PhiValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/PointerValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/StructValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/VectorValue.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/types/TypeTest.kt
Labels: scope:llvm-bindings, type:refactor

#68 [api] Implement BitReader/BitWriter modules
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/MemoryBuffer.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Module.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/modules/ModuleTest.kt
Labels: scope:llvm-bindings, scope:tests

#67 [api] Implement Analysis module
  src/main/kotlin/dev/supergrecko/kllvm/core/enumerations/VerifierFailureAction.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Module.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/FunctionValue.kt
Labels: scope:llvm-bindings

#72 [api] Implement ConstantExpression apis
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Type.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Value.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/FloatValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/IntValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/VectorValue.kt
  src/test/kotlin/dev/supergrecko/kllvm/core/values/IntValueTest.kt
Labels: scope:llvm-bindings

#75 [api] Implement casts for Value
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Type.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/typedefs/Value.kt
  src/main/kotlin/dev/supergrecko/kllvm/core/values/BasicValueUse.kt
Labels: scope:llvm-bindings

#80 [unittest] Update tests for all modules
  src/main/kotlin/dev/supergrecko/kllvm/internal/contracts/Disposable.kt
  src/main/kotlin/dev/supergrecko/kllvm/internal/contracts/OrderedEnum.kt
  src/main/kotlin/dev/supergrecko/kllvm/internal/contracts/Unreachable.kt
  src/main/kotlin/dev/supergrecko/kllvm/internal/contracts/Validatable.kt
  src/main/kotlin/dev/supergrecko/kllvm/internal/util/Conversions.kt
  src/main/kotlin/dev/supergrecko/kllvm/internal/util/TypeIterator.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Builder.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Context.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Flags.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Type.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Value.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/instructions/Predicates.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/types/FunctionType.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/types/IntType.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/types/LabelType.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/types/SequentialType.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/types/StructType.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/types/TokenType.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/types/VoidType.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/types/X86MMXType.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/FunctionValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/GlobalValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/GlobalVariable.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/IndirectFunction.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/IntrinsicFunction.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantArray.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantFloat.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantInt.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantStruct.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantVector.kt
  src/main/kotlin/dev/supergrecko/kllvm/support/MemoryBuffer.kt
  src/main/kotlin/dev/supergrecko/kllvm/support/VerifierFailureAction.kt
  src/test/kotlin/dev/supergrecko/kllvm/internal/ConversionsTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/BuilderTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/ContextTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/ModuleTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/PassRegistryTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/ValueTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/ArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/FunctionTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/IntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/PointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/StructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/TypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/VectorTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/GlobalVariableTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantIntTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/jni/JNIFactorialTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/jni/JNITest.kt
Labels: scope:tests

#81 [api] Implement GlobalValue apis
  src/main/kotlin/dev/supergrecko/kllvm/ir/Flags.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/MetadataEntries.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Value.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/GlobalValue.kt
Labels: scope:llvm-bindings

#82 [api] implement GlobalAlias apis
  src/main/kotlin/dev/supergrecko/kllvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/GlobalAlias.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/GlobalValue.kt
Labels: scope:llvm-bindings

#83 [api] Implement remaining constexpr apis
  build.gradle
  scripts/start-gdb.sh
  src/main/kotlin/dev/supergrecko/kllvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Type.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Value.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/types/FloatType.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/types/PointerType.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/AggregateValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/CompositeValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/Constant.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/ConstantValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/FunctionValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/GlobalValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/IndirectFunction.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/PointerValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantArray.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantFloat.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantInt.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantPointer.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantStruct.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantVector.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/ContextTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/ValueTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/IntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/ConstantTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/GlobalAliasTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/GlobalValueTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/GlobalVariableTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/IntrinsicFunctionTest.kt
Labels: scope:llvm-bindings

#84 [unittest] Update tests for all modules
  src/main/kotlin/dev/supergrecko/kllvm/internal/util/RunAll.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/types/FloatType.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/GlobalVariable.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantArray.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantFloat.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantInt.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/ContextTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/ModuleTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/ArrayTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/FloatTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/IntegerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/PointerTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/StructureTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/TypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/types/VectorTypeTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/ConstantArrayTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/GlobalAliasTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/GlobalValueTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/GlobalVariableTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantIntTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/test/Utils.kt
Labels: scope:tests
