Repository llvm4j/llvm4j, pull requests merged in 2020-05, with the labels that each got.

#87 [api] Add BasicBlock APIs and refactor property getters
  src/main/kotlin/dev/supergrecko/kllvm/internal/util/Conversions.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/BasicBlock.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Context.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Use.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Value.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/FunctionValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/GlobalAlias.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/GlobalValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/GlobalVariable.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/BuilderTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/ContextTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/ModuleTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/GlobalAliasTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/GlobalValueTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/GlobalVariableTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantIntTest.kt
Labels: scope:llvm-bindings, scope:tests, type:breaking-change

#89 Make Module public and add 2 new builder APIs
  src/main/kotlin/dev/supergrecko/kllvm/ir/BasicBlock.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Builder.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Module.kt
Labels: scope:llvm-bindings

#90 [api] Implement remaining BasicBlock APIs
  src/main/kotlin/dev/supergrecko/kllvm/ir/BasicBlock.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/FunctionValue.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/BuilderTest.kt
Labels: scope:llvm-bindings

#92 Add 2 new instruction builder methods
  src/main/kotlin/dev/supergrecko/kllvm/ir/Builder.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/instructions/Opcode.kt
Labels: scope:llvm-bindings

#93 [api] Add the MemoryBuffer API
  scripts/start-gdb.sh
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantArray.kt
  src/main/kotlin/dev/supergrecko/kllvm/support/MemoryBuffer.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantArrayTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/ir/values/constants/ConstantFloatTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/support/MemoryBufferTest.kt
Labels: scope:llvm-bindings, scope:tests

#95 [api] Implement remaining bits of Core::Contexts
  src/main/kotlin/dev/supergrecko/kllvm/ir/Attribute.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Context.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/DiagnosticInfo.kt
Labels: scope:llvm-bindings

#100 [unittest] Add getTemporaryFile API which deletes file on cleanup
  src/test/kotlin/dev/supergrecko/kllvm/unit/ir/ModuleTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/unit/support/MemoryBufferTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/utils/KLLVMTestCase.kt
Labels: scope:tests

#101 [cleanup] Remove unnecessary files
  Makefile
  README.md
  build.gradle
  logo.png
  scripts/start-gdb.sh
  src/test/kotlin/dev/supergrecko/kllvm/unit/ir/BuilderTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/unit/ir/ModuleTest.kt
  src/test/kotlin/dev/supergrecko/kllvm/utils/KLLVMTestCase.kt
Labels: scope:documentation
