Repository llvm4j/llvm4j, pull requests merged in 2020-06, with the labels that each got.

#103 [api] Implement remaining Module APIs
  src/main/kotlin/dev/supergrecko/kllvm/ir/Attribute.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/BasicBlock.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Builder.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Comdat.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Context.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/DiagnosticInfo.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Metadata.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/ModuleFlagEntries.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/ModuleProvider.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/NamedMetadataNode.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/PassManager.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/PassRegistry.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/Use.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/instructions/Instruction.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/DebugLocationValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/FunctionValue.kt
  src/main/kotlin/dev/supergrecko/kllvm/ir/values/GlobalVariable.kt
Labels: scope:llvm-bindings, scope:tests

#105 [spec] Add Vexe grammar spec
  README.md
  spec/grammar.bnf
  spec/structures.md
Labels: project:vexe, scope:documentation

#106 [spec] Move spec to GitHub Wiki
  README.md
  spec/grammar.bnf
  spec/structures.md
Labels: project:vexe

#112 [ci] Optimize GitHub actions
  .github/workflows/suite.yml
  .github/workflows/vexe-llvm.tests.yml
Labels: scope:tests

#111 [tests] Create custom TestSuite to run Unit Tests
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/integration/jni/JNIFactorialTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/integration/jni/JNITest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/internal/ConversionsTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/BuilderTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/ContextTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/ModuleTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/PassRegistryTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/ValueTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/types/ArrayTypeTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/types/FloatTypeTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/types/FunctionTypeTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/types/IntegerTypeTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/types/PointerTypeTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/types/StructureTypeTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/types/TypeTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/types/VectorTypeTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/values/ConstantTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/values/GlobalAliasTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/values/GlobalValueTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/values/GlobalVariableTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/values/IntrinsicFunctionTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/values/constants/ConstantArrayTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/values/constants/ConstantFloatTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/ir/values/constants/ConstantIntTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/unit/support/MemoryBufferTest.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/utils/TestSuite.kt
  vexe-llvm/src/test/kotlin/dev/supergrecko/vexe.llvm/utils/Utils.kt
  vexe-test/src/main/kotlin/dev/supergrecko/vexe/test/TestCase.kt
  vexe-test/src/main/kotlin/dev/supergrecko/vexe/test/TestSuite.kt
  vexe-test/src/test/kotlin/dev/supergrecko/vexe/test/TestCaseTest.kt
  vexe/build.gradle
  vexe/src/test/kotlin/dev/supergrecko/vexe/MainTest.kt
Labels: project:vexe-test, scope:tests

#113 [llvm] Implement ModuleProvider bindings
  vexe-llvm/src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Module.kt
  vexe-llvm/src/main/kotlin/dev/supergrecko/vexe/llvm/ir/ModuleProvider.kt
Labels: project:vexe-llvm, scope:llvm-ffi

#116 [llvm] Complete InstructionBuilders API
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Builder.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/BuilderTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/instructions/BrInstructionTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/instructions/IndirectBrInstructionTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/instructions/RetInstructionTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/instructions/SwitchInstructionTest.kt
Labels: project:llvm, scope:llvm-ffi

#117 [llvm] Implement bindings to Execution Engine APIs
  .gitignore
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/ExecutionEngine.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/GenericValue.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/MCJITCompilerOptions.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/MCJITMemoryManager.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/PassManager.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/TargetData.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Value.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/GenericValue.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/target/CodeGenFileType.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/target/CodeGenOptimizationLevel.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/target/CodeModel.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/target/RelocMode.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/target/Target.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/target/TargetMachine.kt
Labels: project:llvm, scope:llvm-ffi

#120 [api] Implement Metadata APIs
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Metadata.kt
Labels: scope:llvm-ffi

#121 [api] Implement Kotlin based Lambda API for LLVM Callbacks
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/MCJITMemoryManager.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerAllocateCodeSectionCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerAllocateDataSectionCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerDestroyCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerFinalizeMemoryCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/internal/contracts/Callback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Context.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/callbacks/DiagnosticHandlerCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/callbacks/YieldCallback.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/internal/CallbackTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/ContextTest.kt
Labels: scope:llvm-ffi

#122 [refactor] Rename constant instruction APIs to getN instead of N
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Instruction.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/types/ArrayType.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/types/PointerType.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/types/StructType.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/types/VectorType.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/types/traits/CompositeType.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/types/traits/SequentialType.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/FunctionValue.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/GlobalValue.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/GlobalVariable.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/constants/ConstantArray.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/constants/ConstantFloat.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/constants/ConstantInt.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/constants/ConstantPointer.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/constants/ConstantStruct.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/constants/ConstantVector.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/traits/AggregateValue.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/traits/CompositeValue.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/traits/ConstantValue.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/traits/DebugLocationValue.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/values/ConstantTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/values/constants/ConstantIntTest.kt
Labels: scope:llvm-ffi, type:breaking-change

#123 [refactor] Make each Disposable automatically implement AutoClosable
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/ExecutionEngine.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/GenericValue.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/MCJITMemoryManager.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerAllocateCodeSectionCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerAllocateDataSectionCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerDestroyCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerFinalizeMemoryCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/internal/contracts/Callback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/internal/contracts/Disposable.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Builder.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Context.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/MetadataEntries.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/ModuleFlagEntries.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/ModuleProvider.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/PassManager.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/TargetData.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/callbacks/YieldCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/FunctionValue.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/object/Binary.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/support/MemoryBuffer.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/support/Message.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/target/TargetMachine.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/internal/CallbackTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/ContextTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/types/FloatTypeTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/types/TypeTest.kt
Labels: type:refactor

#124 [api] Implement QOL changes for Callback APIs
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerAllocateCodeSectionCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerAllocateDataSectionCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerDestroyCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/executionengine/callbacks/MemoryManagerFinalizeMemoryCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Context.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/callbacks/DiagnosticHandlerCallback.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/callbacks/YieldCallback.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/internal/CallbackTest.kt
Labels: scope:llvm-ffi, type:breaking-change, type:feature, type:refactor

#125 [testing] Use Spek for testing
  Makefile
  build.gradle
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Context.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Type.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Value.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/types/StructType.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/support/MemoryBuffer.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/support/Message.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/Spek.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/TestUtils.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/integration/jni/JNIFactorialTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/integration/jni/JNITest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/internal/CallbackTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/internal/ConversionsTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/ContextTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/ModuleTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/PassRegistryTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/TypeTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/ValueTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/types/TypeTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/support/MemoryBufferTest.kt
  src/test/kotlin/dev/supergrecko/vexe/test/TestCaseTest.kt
Labels: scope:tests, type:breaking-change

#127 [api] Make Entries wrappers contain a size
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Instruction.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/MetadataEntries.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/ModuleFlagEntries.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/values/GlobalValue.kt
Labels: scope:llvm-ffi, type:bugfix

#128 [tests] Update tests for Modules
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/ModuleFlagEntries.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/ModuleTest.kt
Labels: scope:tests

#129 [ci] Fix Github Actions Workflow
  .github/workflows/suite.yml
Labels: scope:tests

#130 [ci] fix location of env for daemon disable
  .github/workflows/suite.yml
Labels: scope:tests

#131 [unittest] Add tests for NamedMetadataNode
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/MetadataEntries.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Module.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/NamedMetadataTest.kt
Labels: scope:tests

#132 [tests] Add tests for GlobalAlias and GlobalVariable
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Module.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/GlobalAliasTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/GlobalVariableTest.kt
Labels: scope:tests

#133 [ci] Set up GitHub super linter
  .github/workflows/linter.yml
  .github/workflows/suite.yml
Labels: scope:tests

#134 [docs] Update README with useful information
  README.md
Labels: scope:documentation

#135 [api] Create custom type for LLVM IR
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/IR.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Module.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Type.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/ir/Value.kt
  src/main/kotlin/dev/supergrecko/vexe/llvm/support/Message.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/IRTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/ModuleTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/TypeTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/ValueTest.kt
  src/test/kotlin/dev/supergrecko/vexe/llvm/unit/ir/instructions/RetInstructionTest.kt
Labels: scope:llvm-ffi, type:breaking-change
